<div class="login">
  <form [formGroup]="form" class="form-signin">
  <img class="mb-4" src="https://angular.io/assets/images/logos/angular/shield-large.svg" alt="" width="72" height="72">
  
  <input type="text" class="form-control" placeholder="Name" formControlName="name" required autofocus>

  <div class="mt-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" value="admin" formControlName="type">
      <label class="form-check-label"> Admin </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" value="organization" formControlName="type">
      <label class="form-check-label"> Organization </label>
    </div>
  </div>

  <button class="btn btn-block btn-primary mt-4" (click)="submit()" [disabled]="!form.valid">
    Login
  </button>
</form>
</div>