/* You can add global styles to this file, and also import other style files */

body {
  background: #e6e6e6;
 }

button {
 &:focus {
  outline: none !important;
  box-shadow: none !important;
 }
}

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

p {
 margin: 0;
}

.pointer {
 cursor: pointer;
}